@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.app {
  width: 70%;
  /* max-width: 800px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

.header {
  width: 100%;
  background-color: #222;
  padding: 1px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 100%;
  color: #ccc;
  padding: 0.7rem 0;
  background-color: #222;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

footer h3 {
  letter-spacing: 2px;
}

.header #logo p {
  color: #eee;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.header #logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.header svg {
  font-size: 2rem;
  margin: 3px 0 0 3px;
  color: #16eefc;
}

.error-msg {
  margin-top: 2rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.searchForm {
  padding: 0.75rem 0 0 0.75rem;
}

.searchForm input[type="text"] {
  width: 100%;
  min-height: 38px;
  /* font-size: 1.5rem; */
  padding: 0 0.15rem;
  outline: none;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.nav ul {
  color: #fff;
  list-style-type: none;
  padding-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.nav li {
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

.nav li a {
  text-decoration: none;
  color: #ccc;
}

.nav li a:hover {
  color: #5367ff;
  transition: all 0.7s;
}

.home,
.new-post,
.post-page,
.about,
.missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #efefef;
}

.missing {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.missing h2,
.missing p {
  margin-bottom: 1rem;
}

.post {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d3d3d3;
}

.home .post a {
  text-decoration: none;
}

.home .post a,
.home .post a:visited {
  color: #5367ff;
}

.home .post a:hover,
.home .post a:active {
  color: #16eefc;
  transition: all 0.6s;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.post-date {
  font-size: 15px;
  margin: 0.5rem 0;
}

.post-body {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  line-height: 2;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-page button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.delete-button {
  background-color: red;
  margin: 1rem 0 1rem 1rem;
}

.edit-button {
  background-color: #5367ff;
  margin: 1rem 1rem 1rem 0;
}

.about .about-content {
  font-size: 1.1rem;
  margin: 1rem 0;
  line-height: 2;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.new-post-form label {
  margin-top: 1rem;
}

.new-post-form input[type="text"],
.new-post-form textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.new-post-form textarea {
  height: 100px;
}

.new-post-form button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.new-post-form button:hover {
  background-color: #222;
  color: #fff;
}

@media (max-width: 900px) {
  .searchForm {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .app {
    width: 90%;
  }

  .searchForm {
    width: 40%;
  }

  .searchForm input[type="text"] {
    min-height: 30px;
    font-size: 1rem;
  }

  .post-info {
    display: block;
  }
}

@media (max-width: 768px) {
  .header #logo p {
    font-size: 1.5rem;
  }

  .nav li {
    font-size: 1rem;
  }

  .app {
    width: 100%;
  }

  .nav li {
    padding: 10px 5px;
  }

  .searchForm {
    width: 80px;
  }
}